// pull down is a translate3d y position
#weather-app {
    position: relative;
    -webkit-transition: -webkit-transform 0ms;
    transform: translate3d(0,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-backface-visibility: hidden;

    /* slide up with small animation */
    &.pullrefresh-slideup,
    &.pullrefresh-loading {
        -o-transition: -o-transform .3s;
        -ms-transition: -ms-transform .3s;
        -moz-transition: -moz-transform .3s;
        -webkit-transition: -webkit-transform .3s;
    }
}


    /* place the pullrefresh box above the container */
#pullrefresh {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -490px;
    left: 0;
    width: 100%;
    height: 490px;
    background: $brand-primary;

    .message {
        position: absolute;
        left: 0;
        bottom: 20px;
        right: 0;
        color: darken($brand-primary, 25);
        text-align: center;
        font-weight: bold;

        span:after { content: $pull-refresh-pull-msg; }
    }
}


// change message with css
.pullrefresh-breakpoint #pullrefresh .message span:after { content: $pull-refresh-release-msg; }
.pullrefresh-loading #pullrefresh .message span:after { content: $pull-refresh-loading-msg; }


// icon
#pullrefresh .icon {
    position: absolute;
    left: 20px;
}

// arrow icon
#pullrefresh .icon.arrow {
    background: url(/images/pull-to-refresh-arrow.png) no-repeat;
    width: 71px;
    height: 28px;
    bottom: 10px;

    transform: rotate(90deg);
    transition: transform .3s;
    -o-transform: rotate(90deg);
    -o-transition: -o-transform .3s;
    -ms-transform: rotate(90deg);
    -ms-transition: -ms-transform .3s;
    -moz-transform: rotate(90deg);
    -moz-transition: -moz-transform .3s;
    -webkit-transform: rotate(90deg);
    -webkit-transition: -webkit-transform .3s;
    -webkit-backface-visibility: hidden;
}

#pullrefresh .icon.arrow.arrow-up {
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

/* spinner icon */
/* rotate spinner with css animation */
@keyframes rotate{ 0%{ transform: rotate(0deg); } 100%{ transform: rotate(360deg); } }
@-o-keyframes rotate{ 0%{ -o-transform: rotate(0deg); } 100%{ -o-transform: rotate(360deg); } }
@-ms-keyframes rotate{ 0%{ -ms-transform: rotate(0deg); } 100%{ -ms-transform: rotate(360deg); } }
@-moz-keyframes rotate{ 0%{ -moz-transform: rotate(0deg); } 100%{ -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate{ 0%{ -webkit-transform: rotate(0deg); } 100%{ -webkit-transform: rotate(360deg); } }

#pullrefresh .icon.loading {
    background: url(/images/spinner.png) no-repeat;
    width: 19px;
    height: 19px;
    background-size: 100%;
    bottom: 0;

    animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
    -ms-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
    -webkit-animation: rotate 1s linear infinite;
}




